<div class="container">
  <div class="row">
    <form class="col s12" [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="input-field col s12">
          <label for="message">Enter Text Data to Encrypt: </label>
          <input
            type="text"
            name="message"
            id="message"
            formControlName="message"
          />
        </div>
      </div>
      <div class="row">
        <div class="col s12 center-align">
          <button type="submit" class="btn teal darken-2">
            <span>Encrypt</span>
            <i class="material-icons left">lock</i>
          </button>
        </div>
      </div>
    </form>
  </div>
  <div class="divider"></div>
  <div class="row" *ngIf="loading">
    <div class="col s12 center-align">
      <div class="progress">
        <div class="indeterminate"></div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="encryptedMessage && !loading">
    <div class="col s12 center-align">
      <input
        type="text"
        name="encrypted"
        id="encrypted"
        class="truncate"
        [value]="encryptedMessage"
      />
      <a
        class="btn waves-effect waves-light"
        [copy-clipboard]="encryptedMessage"
        (copied)="onCopy($event)"
      >
        <span>Copy</span>
        <i class="material-icons left">assignment</i>
      </a>
    </div>
  </div>
</div>
