<h1 class="center" mat-dialog-title>
  Credentials for {{ owner }}'s {{ service }}
</h1>

<mat-dialog-content>
  <div class="container">
    <mat-list>
      <mat-list-item
        *ngFor="let cred of credentials | keyvalue"
        class="teal darken-3 white-text z-depth-3 rd"
      >
        <mat-icon mat-list-icon class="red-text">
          lock_open
        </mat-icon>
        <div style="padding-right: 0.7rem;">{{ cred.key }}:</div>
        <div>
          {{ cred.value }}
        </div>
      </mat-list-item>
    </mat-list>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <div class="container">
    <div class="row">
      <div class="col s12 right-align">
        <button
          class="btn red white-text waves-effect waves-light"
          (click)="close()"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</mat-dialog-actions>
