.rd {
  margin-bottom: 1.2rem;
  border: none;
  border-radius: 7px;
}

#get {
  padding-right: 1.2rem;
}

.md-fixed {
  position: fixed;
  right: 50px;
  bottom: 50px;
  text-align: center;
}

.md-fixed2 {
  position: fixed;
  right: 120px;
  bottom: 60px;
  text-align: center;
}
