<h3 class="white-text center-align">Credential Storage</h3>
<section class="container">
  <mat-list>
    <mat-list-item
      *ngFor="let cred of credentials; let index"
      class="teal darken-3 white-text z-depth-3 rd"
    >
      <mat-icon mat-list-icon class="green-text">
        lock
      </mat-icon>
      <div mat-line>{{ cred.service }}</div>
      <div mat-line>{{ cred.owner }}</div>
      <div id="get">
        <button mat-raised-button color="primary" (click)="onGet(index)">
          GET
        </button>
      </div>
      <div>
        <button mat-mini-fab color="warn" (click)="onDelete(index)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </mat-list-item>
  </mat-list>
</section>

<button class="btn teal darken-3 white-text md-fixed2">
  <i class="material-icons left">vpn_key</i>
  <span>Set Master Password</span>
</button>

<button mat-fab class="teal darken-3 md-fixed" (click)="onAdd()">
  <mat-icon>add</mat-icon>
</button>
