<h3 class="white-text center-align">Credential Storage</h3>
<section class="container">
  <mat-list *ngIf="credentials.length > 0">
    <mat-list-item
      *ngFor="let cred of credentials; let i = index"
      class="teal darken-3 white-text z-depth-3 rd"
    >
      <mat-icon mat-list-icon class="green-text">
        lock
      </mat-icon>
      <div mat-line>{{ cred.service }}</div>
      <div mat-line>{{ cred.owner }}</div>
      <div id="get">
        <div
          *ngIf="loading && currentIndex == i"
          class="preloader-wrapper active"
        >
          <div class="spinner-layer spinner-red-only">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div>
            <div class="gap-patch">
              <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
        </div>
        <button
          mat-raised-button
          color="primary"
          (click)="onGet(i)"
          *ngIf="!loading || (loading && currentIndex != i)"
        >
          GET
        </button>
      </div>
      <div>
        <button mat-mini-fab color="warn" (click)="onDelete(i)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </mat-list-item>
  </mat-list>
  <h5 *ngIf="credentials.length < 1" class="white-text center-align">
    No credential stored yet...
  </h5>
</section>

<button class="btn teal darken-3 white-text md-fixed2" (click)="onSetMaster()">
  <i class="material-icons left">vpn_key</i>
  <span>Set Master Password</span>
</button>

<button mat-fab class="teal darken-3 md-fixed" (click)="onAdd()">
  <mat-icon>add</mat-icon>
</button>
